<!--> Implementação do hugo para teste de campos inicio <-->
<h1>Teste de Firma/show<h1>
<h6> </h6>
<% @firma = Firma.find(params[:id])%></>
<p>id:  <%= @firma.id %>

<p> created_at: <%= @firma.created_at %>
updated_at: <%= @firma.updated_at %></p>
<p>Firmas cadastradas<%= Firma.ids%></p>
<!--> Implementação do hugo para teste fim  <-->
