<!-- JUMBOTRON WITH A FINANCIAL THEME IMAGE AND TITLE "BANCO" -->
<div class="jumbotron">
  <h1>Banco</h1>
  <p>Aqui você pode fazer suas operações financeiras</p>
</div>

<!-- Three cards, each offering a different loan rate for the user to select -->
<% credit_line = ["Premium", "Black", "Millenium", "Master", "Stylus", "Personalité"].shuffle %>
<% credit_value = [5000, 7000, 8000, 9000, 10000, 12500, 15000] %>
<% credit_rate = [1, 1.2, 1.3, 1.5, 2] %>
<% credit_due = [3, 6, 12, 15, 24] %>
<% @banks.each do |bank| %>

<div class="card card-light">
  <div class="card-header">
    <h3><%= credit_line.pop %></h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">R$ <%= credit_value.sample %>,00</h5>
    <p class="card-text">Taxa: <%= credit_rate.sample %>% a.m.</p>
    <p class="card-text">Prazo: <%= credit_due.sample %> meses</p>
    <!-- TODO: Create the logic button to sign the loan -->
    <a href="#" class="btn btn-primary">contratar</a>
  </div>
  </div>
</div>

<% end %>